<!-- ========  Abduvoitov Doniyor ========  -->
<!-- ======== Tel: (90) 400 33 01 ======== -->
<!-- ======== Instagram: @abduvoitow ======== -->
<!-- ======== Email: abduvoitow@gmail.com ======== -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <title>
        {% block title %}AppHUBE{% endblock title %}
    </title>
</head>

<body>
    <!--==== Open Navbar==== -->
    <header class="header container">
        <span>
          <a style="background-color: black; padding: 10px; border-radius: 5px;" href="#" class="title"><span style="color: rgb(255, 255, 255); padding: 2px;">App</span><span style="background-color: #f7971d; color: rgb(0, 0, 0); padding: 2px; border-radius: 5px;">HUB</span></a>
        </span>
        <nav class="navbar">
          <ul class="navbar-ul hidden">
            <li class="active"><a class="menu" href="{% url 'home' %}">Apps</a></li>
            <li><a class="menu" href="#">Games</a></li>
            <li><a class="menu" href="#">OS</a></li>
            <li><a class="menu" href="#">Drivers</a></li>
          </ul>
          <button class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </nav>
      </header>
      <!---- end navbar ----->


        {% block content %}

        {% endblock content %}

        <br>
        <div class="copyright">
          <small>Copyright &copy;2024 <abduvoitow><a href="https://piima.robocontest.uz/profile/abduvoitow">Abduvoitov Doniyor</a></abduvoitow>. All Right Reserved</small> 
        </div>
   

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>

<!-- ========  Abduvoitov Doniyor ========  -->
<!-- ======== Tel: (90) 400 33 01 ======== -->
<!-- ======== Instagram: @abduvoitow ======== -->
<!-- ======== Email: abduvoitow@gmail.com ======== -->